*{
    margin:0;
    padding: 0;
}
h1{
    /* color: #F29E4C; */
    /* color: #E8871E; */
    color: #FFA62B;
    color: #C4FFB2;
}
body{
    background-color:#26506E ;
    text-align: center;
}
.container{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin
}
.box{
    height:18vmin;
    width:18vmin;
    background-color:#26506E ;
    color: white;
    font-size: 49px;
    font-weight: 700;
    border: 2px solid white;
}
button{
    height: 1cm;
    line-height: 0.2cm;
}
button:hover{
    transform: translateY(0.5rem);
    cursor: pointer;
    background-color: #65835c;
}
#reset-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color: #26506E;
    color: black;
    border: 0cap;
    border-radius: 12px;
    background-color: #C0E5C8;
    margin-bottom: 1cm;
}
.box:hover{
    background-color: #346689;
}
#new-btn{
    padding:1rem;
    font-size:1.25rem;
    background-color: #26506E;
    color: black;
    border: 0cap;
    border-radius: 12px;
    background-color: #C0E5C8;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
#msg{
    color:#EFEA5A;
    font-size:25px;
}
#msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}
.x {
    color: #FFA62B; /* or any color you prefer for X */
}

.o {
    color:#EFEA5A; /* or any color you prefer for O */
}
