.container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100vh;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:50%;
    background-color: rgb(157, 187, 241);
}
.time{
    font-size: 20px;
    
}
.showTime{
    width: 7cm;
    height: 1.3cm;
    border-radius: 7px;
    border: none;
    background-color: rgb(1, 109, 217);
   position: absolute;
    top:8cm;
    box-shadow: 10px 8px rgb(57, 146, 241);
    text-align: center;
    font-size: 19px;
   
}
.showTime:hover{
    font-size: 24px;
}