  ../../.MemuHyperv/
        ../../.VirtualBox/
        ../../.anaconda/
        ../../.android/
        ../../.bash_history
        ../../.cache/
        ../../.codetogether/
        ../../.conda/
        ../../.condarc
        ../../.config/
        ../../.continuum/
        ../../.ctsystem
        ../../.eclipse/
        ../../.git-credentials
        ../../.gitconfig
        ../../.idlerc/
        ../../.ipynb_checkpoints/
        ../../.ipython/
        ../../.jenkins/
        ../../.jupyter/
        ../../.lesshst
        ../../.m2/
        ../../.matplotlib/
        ../../.nbi/
        ../../.node_repl_history
        ../../.npmrc
        ../../.p2/
        ../../.packettracer
        ../../.viminfo
        ../../.vscode/
        ../../.zenmap/
        ../../Abroad_Students.csv
        ../../Analysis of Chicago Crime Data.ipynb
        ../../AndroidStudioProjects/
        ../../AppData/
        ../../BI_exp1.ipynb
        ../../Books.csv
        ../../Contacts/
        ../ADIYOGI1.jpg
        ../API'S.txt
        ../Ai tools masterclass.txt
        ../Downloads - Shortcut.lnk
        ../Eclipse IDE for Java Developers - 2024-06.lnk
        ../Grammarly.lnk
        ../Hackathon/
        .gitignore
        ../MODAK SANIKA SANJAY (Sanika) - Chrome.lnk
        ../Microsoft Teams (work or school).lnk
        ../Miniproject Report.pdf
        ../Timeline.docx
        ../Twisted Lies.pdf
        ../Twisted-Love-1.pdf
        ../Web lab index.docx
        ../Work - Edge.lnk
        ../app-release.apk
        ../desktop.ini
        ../dir
        ../javascript/
        ../nehu_poetries/
        ../results/
        ../resume.pdf
        ../sanika_resume2.docx
        ../twisted lies-1.pdf
        ../use-case miniproject.png
        ../use-case.txt
        ../~$3 JAVA.docx
        ../~$AI-DS.docx
        ../~$MYSQL.docx
        ../~$P6. Mastering the Web's Cognitive Core.docx
        ../~$_PYQS[1].docx
        ../~$nalll report.docx
        ../~$ni_project.docx
        ../~$nika_resume2.docx
        ../~$obal Variable python.docx
        ../~$ok report.docx
        ../~$pf exp 7 and 8.docx
        ../~$w sql.211423.docx
        ../~WRL1132.tmp
        ../~WRL1979.tmp
        ../~WRL2490.tmp
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../Login-Signup-form/
        ../../Miniproject/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{294b295c-41cf-11ed-a8d6-fe5f150def00}.TM.blf
        ../../NTUSER.DAT{294b295c-41cf-11ed-a8d6-fe5f150def00}.TMContainer00000000000000000001.regtrans-ms     
        ../../NTUSER.DAT{294b295c-41cf-11ed-a8d6-fe5f150def00}.TMContainer00000000000000000002.regtrans-ms     
        ../../OneDrive/
        ../../Pictures/
        ../../Responsive-Login-Form/
        ../../SalesStore.csv
        ../../Saved Games/
        ../../Searches/
        ../../Untitled.ipynb
        ../../Videos/
        ../../anaconda3/
        ../../dashdot/
        ../../eclipse-workspace/
        ../../eclipse/
        ../../exp1 DS.ipynb
        ../../exp1.ipynb
        ../../exp2/
        ../../exp3 (1) (1).ipynb
        ../../exp3 (1).ipynb
        ../../exp3.ipynb
        ../../exp4 DS.ipynb
        ../../imdb-videogames.csv
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../output.html
        ../../practice.ipynb
        ../../react-website/
        ../../student_exam
        ../../student_exam_data.csv
        ../../vgames.csv
        ../../wekafiles/