body{
    text-align: center;
    width: 300px;
    max-width: 750px;
    min-width: 480px;
    margin: 0 auto;
    color: white;
 
    background-color: rgb(42, 42, 42);
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(8, 127, 191);
}
h1{
    background-color: black;
    color: white;
    font-size: 23px;
    font-weight: bolder;
    width: 38%;
    height: 1.3cm;
    position: absolute;
    top:0cm;

}
p{
    font-size: 20px;
    
}
#guess{
    font-size: 34px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.guessField,.guessSubmit{
 outline: 0;
 height: 0.7cm;
 border-radius: 8px;
 text-align: center;
 cursor: pointer;

}
.guessField{
    font-size: 20px;
}
#subt {
    background-color: #161616;
    color: #ffffff;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    border-style: none;
    margin-top: 50px;
    /* margin-left: 75px; */
  }

