* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 .calculator{
    width:3cm;
    height: 1cm;
    border-radius: 7px;
    margin: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-weight: bold;
  }
  .calculator:hover{
    transform: translateY(0.3rem);
  }
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;

}  
#weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  .height,.weight{
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }
  form{
    background-color: coral;
    width:20cm;
    
  }
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  input{
    outline: 0;
    border: 0;
    border-radius: 4px;
    text-align: center;
  }